# Dependencies
node_modules

# Next.js
.next
out
dist
build

# Environment
.env
.env*.local

# Logs
*.log
npm-debug.log*
dev.log
nohup.out

# OS
.DS_Store
Thumbs.db

# IDE
.vscode
.idea
*.swp

# Misc
.server.pid
*.tsbuildinfo
restart.sh
